* {
    box-sizing: border-box;
}

body {
    line-height: 1.5;
    background: #656565;
}

.page-header {
    width: 100%;
    height: 80px;
    background: #fff;

    h1 {
        width: 970px;
        height: inherit;
        margin: 0 auto;
        padding-left: 10px;
        font-size: 20px;
        font-weight: bold;
        line-height: 80px;
        letter-spacing: 0.1em;
    }
}

.page-main {
    position: relative;

    aside {
        background: rgba(0, 0, 0, 0.8);
        width: 350px;
        padding: 30px;
        height: 100%;
        position: fixed;
        top: 0;
        left: -350px;

        ul {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 100%;
            height: 100%;

            li {
                img {
                    width: 230px;
                    border-radius: 25%;
                }
            }
        }

        button {
            background: (0, 0, 0, 0.8);
            display: block;
            width: 50px;
            height: 130px;
            font-size: 25px;
            border: none;
            position: absolute;
            top: 150px;
            left: 350px;
            outline: none;
            cursor: pointer;

            span {
                writing-mode: vertical-rl;
                letter-spacing: 2px;
                font-weight: bold;
            }
        }
    }
}